* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: white;
}
body {
    min-height: 100vh;
    min-width: 1000px;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.container {
    display: flex;
    flex-direction: row;
    padding-right: 20px;
    border: 1px solid;
    justify-content: center;
    border-radius: 30px;
    background-color: white;
    gap: 50px;
    .image img {
        position: relative;
    }
    background-image: url("./images/bg-pattern-desktop.svg");
    background-position-x: -570px;
    background-position-y: -345px;
    background-repeat: no-repeat;
    .illustration {
        top: -20px;
        left: -60px;
        width: 450px;
    }
    .box {
        top: -250px;
        left: -90px;
    }
    .image {
        margin: auto;
        width: 350px;
        height: 350px;
    }
    .faq--holder {
        width: 425px;
        padding: 40px;
        h2 {
            font-size:2.5rem;
            margin-bottom: 20px;
            font-weight: 700;
            color: hsl(238, 29%, 16%);
        }
        .faq--question {
            border-bottom: 1px solid hsl(240, 5%, 91%);
            padding: 20px 0;
            .answer {
                display: none;
                color: hsl(240, 6%, 50%);
                padding: 10px;
                padding-left: 0;
                line-height: 1.5rem;
            }
            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }
        }
    }
}

.question {
    font-size: 1.2rem;
    color: hsl(240, 6%, 50%);
}

footer a {
    color:hsl(238, 29%, 16%);
    margin-left: 5px;
    &:hover {
        color:hsl(14, 88%, 65%);
    }
}
.tab {
    margin-right: 20px;
}

.faq-ques:hover {
    h3 {
        color:hsl(14, 88%, 65%);
    }
    cursor: pointer;
}

@media screen and (width<=375px) {
    body {
        padding-top: 150px;
        padding-bottom: 35px;
    }
    .container {
        flex-direction: column;
        padding-right: 0;
        width: 326px;
        gap: 35px;
        background-size: 230px;
        background-position-x: center;
        background-position-y: -120px;
        .faq--holder {
            width: auto;
            padding: 20px;
            h2 {
                text-align: center;
            }
        }
        .image {
            transform: scale(0.5);
            top: -110px;
            left: -10px;
            height: 70px;
            position: relative;
        }
    }
}